html {
    background-color: lightblue;
}

body {
    width: 1000px;
}

header {
    height: 200px;
}

main {
    background-color: lightsteelblue;
    display: flow-root;
    /*position: absolute; el main ocupa lo mismo que el contenido (ambos div juntos)*/
    /*display: inline-block; los contenedores se encogen al width del contenido y mantienen el height*/
    /*display: inline; el main no ocupa nada como sin flow-root pero los divs sí*/
}

footer {
    height: 200px;
}

div {
    float: left;
    height: 200px;
    /*position: absolute; ambos div se superponen uno encima del otro*/
}

#izq {
    background-color: lightslategray;
}