body {
    background-color: lightgreen;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    margin: 0px 0px 20px 180px;
}

/* FORMULARIO */
form {
    margin: 0px 160px 0px 160px;
    padding: 20px;
    border: solid 2px black;
    width: 700px;
    background-color: rgb(175, 255, 175);
    font-size: 12px;
}

p {
    font-size: 18px;
    padding: 0px 0px 0px 10px;
    margin: 10px 0px 10px 0px;
}

input[type=checkbox] {
    margin: 0px 0px 0px 20px;
}

input[type=text] {
    padding: 0px 0px 0px 5px;
    border: solid 1px black;
}

input[type=radio] {
    margin: 0px 0px 0px 20px;
}

input[type=submit] {
    border: solid 2px black;
    padding: 5px;
    width: 100px;
}

label {
    display: inline-block;
    width: 660px; /* Los radio ocupan 14px de width pero tienen 20 margin-left -> 661w+14w+20m = 695px*/
    /*margin: 0px 650px 0px 0px;*/
}

textarea {
    margin: 0px 0px 0px 10px;
    padding: 5px;
}
/* FIN FORMULARIO */

/* TABLA DEL HORARIO */
table {
    width: 70%;
    margin: auto;
    background-color: rgba(255, 255, 255, 0.637);
}

thead {
    font-weight: bold;
    font-size: 30px;
    background-color: white;
}

tfoot {
    font-size: 20px;
    background-color: aquamarine;
}

th {
    background-color: rgb(201, 228, 255);
}

table, th, td {
    border: solid 2px black;
    border-collapse: collapse;
    padding: 10px;
}

h2, td {
    text-align: center;
}

.ipp2 {
    background-color: rgb(255, 160, 122);
}

.dwesv {
    background-color: rgb(32, 178, 170);
}

.dwenc {
    background-color: rgb(250, 250, 210);
}

.pimod {
    background-color: rgb(176, 196, 222);
}

.deapw {
    background-color: rgb(255, 182, 193);
}

.opt2i, .opt2a, .opt1 {
    background-color: rgb(211, 211, 211);
}

.dasp, .sasp {
    background-color: rgb(221, 160, 221);
}

#asignaturas {
    width: 50%;
    margin: auto;
}

footer {
    text-align: center;
}

#asignaturas {
    width: 400px;
    list-style-type: none;
}

#profesores {
    width: 400px;
    list-style-type: none;
}

#tablaInfo, #tablaInfo td {
    background-color: rgba(255, 255, 255, 0);
    border: none;
}
/* FIN TABLA DEL HORARIO */