html {
    width: 957px;
    margin: auto;
}

body {
    background-color: lightgreen;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

h1 {
    margin: 0% 0% 2.089864158829676% 18.80877742946708%;
    /*  (20m * 100) / 957w html = 2.089864158829676%
        (180m * 100) / 957w html = 18.80877742946708%
    */
}

/* FORMULARIO */
form {
    margin: 0% 16.71% 0% 16.71%; /* 160px margin y 957px width html*/
    padding: 2.08%; /* 20px padding y 957px width html */
    border: solid 2px black;
    width: 73.14%; /* 700px width form y 957px width html */
    background-color: rgb(175, 255, 175);
    font-size: 12px;
}

p {
    font-size: 18px;
    padding: 0% 0% 0% 1.42%; /* (10p * 100) / 700w form = 1.42%*/
    margin: 1.42% 0% 1.42% 0px; /* (10m * 100) / 700w form = 1.42%*/
}

input[type=checkbox] {
    margin: 0% 0% 0% 2.85%; /* (20m * 100) / 700w form = 2.85%*/
}

input[type=text] {
    padding: 0% 0% 0% 0.71%; /* (5p * 100) / 700w form = 0.71%*/
    border: solid 1px black;
}

input[type=radio] {
    margin: 0% 0% 0% 2.85%; /* (20m * 100) / 700w form = 2.85%*/
}

input[type=submit] {
    border: solid 2px black;
    padding: 0.71%; /* (5p * 100) / 700w form = 0.71%*/
    width: 14.28%; /* (100w input * 100) / 700 w form = 14.28% */
}

label {
    display: inline-block;
    width: 94.28%; /* (660w label * 100) / 700 w form =  94.28%*/
}

textarea {
    margin: 0% 0% 0% 1.42%; /* (10m * 100) / 700w form = 1.42%*/
    padding: 0.71%; /* (5p * 100) / 700w form = 0.71%*/
}
/* FIN FORMULARIO */